<div class="row">
  <div class="col">
    <div class="dropdown" dropdown>
      <button *ngIf="!factory" style="width: 300px" class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
    공장 선택
  </button>
      <button *ngIf="factory" style="width: 300px" class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
    {{factory.title}}
  </button>
      <div style="width: 300px;" class="dropdown-menu" aria-labelledby="dropdownMenu2" *dropdownMenu>
        <button class="dropdown-item" (click)="onChange(factory)" *ngFor="let factory of factories">
        {{factory.title}}
    </button>
      </div>
    </div>
  </div>

  <div class="col" *ngIf="factory">
    <div class="dropdown" dropdown>
      <button *ngIf="!line" style="width: 300px" class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
    라인 선택
  </button>
      <button *ngIf="line" style="width: 300px" class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
    {{line.name}}
  </button>
      <div style="width: 300px" class="dropdown-menu" aria-labelledby="dropdownMenu2" *dropdownMenu>
        <button class="dropdown-item" (click)="onLineChange(line)" type="button" *ngFor="let line of factory.lines">
        {{line.name}}
    </button>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
</div>

<div *ngIf="line" class="row" style="margin-top: 15px;">
  <div class="col">
  <div class="card">
        <div class="card-header" style="font-size: 20px;">
          {{line.name}} > {{line.product.name}}
          <span *ngIf="lineRunning" class="badge badge-success float-right" style="font-size: 20px;">라인 진행 중</span>
          <span *ngIf="!lineRunning" class="badge badge-danger float-right" style="font-size: 20px;">라인 중단</span>
        </div>
        <div class="card-block" style="background: #607d8b; padding-left: 15px;">
          <div class="row">
          <div *ngFor="let process of line.processes">
            <button (click)="processClick(process)" *ngIf="!isEven(process.p_code) && !process.p_error" class="round-button">{{process.p_name}}<br/></button>
            <button (click)="processClick(process)" *ngIf="!isEven(process.p_code) && process.p_error" class="round-button" style="background-image: url('../assets/img/stop.png'); background-size:contain; padding-top: 5px;">{{process.p_name}}</button>
            <button (click)="processClick(process)" *ngIf="isEven(process.p_code) && !isLineEnd(process.p_code)  && process.p_error"
              class="round-button-arrow" style="background-image: url('../assets/img/stop.png'); background-size:contain;">
      </button>
            <button (click)="processClick(process)" *ngIf="isEven(process.p_code) && !isLineEnd(process.p_code) && !process.p_error"
              class="round-button-arrow" style="background-image: url('../assets/img/right-arrow1.png'); background-size:contain;">
      </button>
            <button (click)="processClick(process)" *ngIf="isEven(process.p_code) && isLineEnd(process.p_code)" class="round-button-arrow" style="background-image: url('../assets/img/right-arrow1.png'); background-size:contain;">
      </button>
            
          </div>

          <button class="round-button-end">라인 종료</button>
        </div>
        </div>
      </div>
      </div>
</div>

<tabset *ngIf="line && !process">
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> 시간별</ng-template>
          <div class="row">
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">생산량 및 불량품</span>
              <div style="display: block; width: 95%;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">설비 가동률</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">재공 재고</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> 일별</ng-template>
          <div class="row">
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">생산량 및 불량품</span>
              <div style="display: block; width: 95%;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">설비 가동률</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">재공 재고</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> 월별</ng-template>
          <div class="row">
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">생산량 및 불량품</span>
              <div style="display: block; width: 95%;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">설비 가동률</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">재공 재고</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> 분기별</ng-template>
          <div class="row">
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">생산량 및 불량품</span>
              <div style="display: block; width: 95%;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">설비 가동률</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col">
              <span class="badge badge-info" style="font-size: 17px;">재공 재고</span>
              <div style="display: block; width: 95%;">
                  <canvas width="auto" height="auto" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </tab>
      </tabset>
